<section class="editor container">
    <h2 class="editor-title">Revolutionary editor</h2>
    <p class="editor-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim.
        Sed id metus id quam auctor
        molestie eget ut augue.</p>
    <ul class="editor__list">
        <li class="editor__item">
            <button class="editor__button">
                <img src="@img/icons/icons.svg#watch" class="svg-watch-dims" height="16" width="16" alt="watch">
                <span class="editor__button__text">Watch</span>
                <span class="editor__button__counter">1,397</span>
                <span class="editor__button__dropdown-caret"></span>
            </button>
        </li>
        <li class="editor__item">
            <button class="editor__button">
                <img src="@img/icons/icons.svg#star" class="svg-star-dims" height="16" width="16" alt="star">
                <span class="editor__button__text">Star</span>
                <span class="editor__button__counter">21,038</span>
                <span class="editor__button__dropdown-caret"></span>
            </button>
        </li>
        <li class="editor__item">
            <button class="editor__button">
                <img src="@img/icons/icons.svg#fork" class="svg-fork-dims" height="16" width="16" alt="fork">
                <span class="editor__button__text">Fork</span>
                <span class="editor__button__counter">4,391</span>
                <span class="editor__button__dropdown-caret"></span>
            </button>
        </li>
    </ul>
</section>