<section class="people">
    <h1>People Are Talking About Fork</h1>
    <div class="people-wrapper">
        <div class="people-container people-container_smashing">
            <div class="people-container__image-wrapper"><img src="@img/people/smashing.png" alt=""></div>
            <p>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
        </div>
        <div class="people-container people-container_codrops">
            <div class="people-container__image-wrapper"><img src="@img/people/codrops.png" alt=""></div>
            <p>Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
        </div>
        <div class="people-container people-container_w">
            <div class="people-container__image-wrapper"><img src="@img/people/w.png" alt=""></div>
            <p>In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
        </div>
        <div class="people-container people-container_pixel">
            <div class="people-container__image-wrapper"><img src="@img/people/pixel.png" alt=""></div>
            <p>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
        </div>
        <div class="people-container people-container_cb">
            <div class="people-container__image-wrapper"><img src="@img/people/cb.png" alt=""></div>
            <p>Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus. </p>
        </div>
        <div class="people-container people-container_tnw">
            <div class="people-container__image-wrapper"><img src="@img/people/tnw.png" alt=""></div>
            <p class="people-container__text people-container__text_mobile">Fusce pharetra erat id odio blandit, <br> nec <br> pharetra eros venenatis. <br> Pellentesque porttitor cursus massa <br>et vestibulum.</p>
            <p class="people-container__text people-container__text_tab">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
        </div>
    </div>
    <p class="people__description">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    <p class="people__description_tab">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    <div class="people__line"></div>
</section>
