<section class="price">
    <div class="container">
        <h2 class="price-title">Fork Subscription Pricing</h2>
        <ul class="price__list">
            <li class="price__item price__item--students">
                <h3 class="price__item-title price__item-title--students">Students</h3>
                <div class="price__item-description price__item-description--students">
                    <p class="price__item-price"><span>$</span>29</p>
                    <p class="price__item-period">per month</p>
                    <div class="price__item-line"></div>
                    <p class="price__item-text price__item-text--students">Personal License</p>
                    <button class="price__item-btn">purchase</button>
                </div>
            </li>
            <li class="price__item price__item--professional">
                <h3 class="price__item-title price__item-title--professional">professional</h3>
                <div class="price__item-description price__item-description--professional">
                    <p class="price__item-price"><span>$</span>59</p>
                    <p class="price__item-period">per month</p>
                    <div class="price__item-line"></div>
                    <p class="price__item-text">Professional License <br>Email Support</p>
                    <button class="price__item-btn">purchase</button>
                </div>
            </li>
            <li class="price__item price__item--agency">
                <h3 class="price__item-title price__item-title--agency">agency</h3>
                <div class="price__item-description price__item-description--agency">
                    <p class="price__item-price price__item-price--agency"><span>$</span>99</p>
                    <p class="price__item-period price__item-period--agency">per month</p>
                    <div class="price__item-line price__item-line--agency"></div>
                    <p class="price__item-text price__item-text--agency">1-12 Team Members <br>Phone Support</p>
                    <button class="price__item-btn price__item-btn--agency">purchase</button>
                </div>
            </li>
            <li class="price__item price__item--enterprise">
                <h3 class="price__item-title price__item-title--enterprise">enterprise</h3>
                <div class="price__item-description price__item-description--enterprise">
                    <p class="price__item-price"><span>$</span>159</p>
                    <p class="price__item-period">per month</p>
                    <div class="price__item-line"></div>
                    <p class="price__item-text price__item-text--enterprise">Unlimited Team Members <br>24/ 7 Phone
                        Support</p>
                    <button class="price__item-btn">purchase</button>
                </div>
            </li>
        </ul>
    </div>
</section>