<section class="you-get">
    <div class="you-get__wrapper container">
        <h2 class="you-get-title you-get__item1">&#8249; Here is what you get &#8250;</h2>
        <ul class="you-get__list you-get__item2">
            <li class="you-get__item">
                <div class="you-get__item-imgbox">
                    <img src="@img/web.png" class="you-get__item-img you-get__item-img--mbweb" alt="web">
                </div>
                <div class="you-get__item-description">
                    <p class="you-get__item-title you-get__item-title--web">Creatred to Make The Web Better</p>
                    <p class="you-get__item-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
                        laoreet
                        vulputate
                        dignissim. Sed id metus id quam
                        auctor
                        molestie eget ut augue.</p>
                </div>
            </li>
            <li class="you-get__item">
                <div class="you-get__item-imgbox">
                    <img src="@img/tool.png" class="you-get__item-img you-get__item-img--mbtool" alt="web">
                </div>
                <div class="you-get__item-description">
                    <p class="you-get__item-title">Incredibly Powerful Tool</p>
                    <p class="you-get__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
                        ut
                        volutpat massa placerat ac. Curabitur dapibus
                        iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </li>
            <li class="you-get__item">
                <div class="you-get__item-imgbox">
                    <img src="@img/stuff.png" class="you-get__item-img you-get__item-img--mbstuff" alt="web">
                </div>
                <div class="you-get__item-description">
                    <p class="you-get__item-title">Experimental Stuff</p>
                    <p class="you-get__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
                        ut
                        volutpat massa
                        placerat ac. Curabitur dapibus
                        iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </li>
            <li class="you-get__item">
                <div class="you-get__item-imgbox">
                    <img src="@img/circle.png" class="you-get__item-img you-get__item-img--mbcircle" alt="web">
                </div>
                <div class="you-get__item-description">
                    <p class="you-get__item-title">Creatred to Make The Web Better</p>
                    <p class="you-get__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
                        ut
                        volutpat massa
                        placerat ac. Curabitur dapibus
                        iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                </div>
            </li>
        </ul>
        <picture>
            <source class="you-get__img you-get__item3" srcset="@img/editor768.png 2x" type="image/webp"
                media="(min-width:481px)">
            <source class="you-get__img" srcset="@img/editor320.png" type="image/webp" media="(max-width:480px)">
            <img class="you-get__img" src="img/editor320.png" alt="editor">
        </picture>
    </div>
</section>