.container {
    @include center();
    padding-left: 10px;
    padding-right: 10px;
    min-width: 320px;
    max-width: 1200px;
    box-sizing: border-box;
}

/* -------- Section Editor --------*/

.editor-title {
    color: $colorEditorTitle;
    text-align: center;
    @include primeryText();
    font-size: 26px;
    font-weight: 700;

    @media screen and (min-width: 481px) and (max-width: 992px) {
        font-size: 42px;
    }

    @media screen and (min-width: 993px){
        font-size: 54px;
    }
}

.editor-text {
    color: $colorEditorText;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 27px;
    margin-bottom: 36px;

    @media screen and (min-width: 481px) {
        font-size: 21px;
        line-height: 1.5;
        margin-top: 33px;
        margin-bottom: 24px;
    }

    @media screen and (min-width: 993px) {
        margin-top: 35px;
        margin-bottom: 13px;
    }
}

.editor{
    padding-top: 44px;
    padding-bottom: 76px;

    @media screen and (min-width: 481px) and (max-width: 992px) {
        padding-top: 88px;
        padding-bottom: 86px;
    }
    
    @media screen and (min-width: 993px) and (max-width: 1200px) {
        padding-top: 0;
        padding-bottom: 58px;
    }

    &__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__item{
        margin-bottom: 12px;
    }
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $colorBtnBorder;
        border-radius: 6px;
        position: relative;
        background-color: $colorBtnBg;
        padding: 3px 12px;

        & img{
            margin-right: 8px;
        }

        &__text{
            
            font-size: 12px;
            line-height: 20px;
            font-weight: 500;
            color: $colorBtnText;
            font-family: Lato;
        }

        &__counter{
            margin-left: 2px;
            color: inherit;
            text-shadow: none;
            vertical-align: top;
            background-color: $colorBtnCounterBg;
            border-radius: 2em;
            display: inline-block;
            font-size: 0.75rem;
            font-weight: 500;
            min-width: 1.25rem;
            padding: 0 6px;
            text-align: center;
        }
}
}


/* -------- Section You-Get --------*/

.you-get-title{
    color: $colorYouGetTitle;
    text-align: center;
    @include primeryText();
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 36px;
    text-transform: none;

    @media screen and (min-width: 481px) and (max-width: 992px) {
        font-size: 42px;
        line-height: 1;
        margin-bottom: 50px;
    }

    @media screen and (min-width: 993px) {
        font-size: 48px;
        line-height: 1;
        margin-bottom: 0;
    }
}

.you-get{
    padding-top: 32px;
    padding-bottom: 6px;

    @media screen and (min-width: 481px) and (max-width: 992px) {
        padding-top: 62px;
        padding-bottom: 1px;
    }

    @media screen and (min-width: 993px) {
        background: #F4F4F4;
        padding-top: 94px;
        padding-bottom: 33px;
    }

    @media screen and (min-width: 481px) {
        &__wrapper{
        display: grid;
        grid-template-areas: 
        "item1"
        "item2"
        "item3";

        @media screen and (min-width: 993px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 519px;
            grid-template-areas: 
            "item2 item1"
            "item2 item3";
            gap: 19px;
        }
    }

    &__item1{
        grid-area: item1;
    }

    &__item2{
        grid-area: item2;
        margin-right: 30px;
    }

    &__item3{
        grid-area: item3;
    }
    &__list{
        text-align: center;
    }
    }

    &__item{
        @media screen and (min-width: 481px){
            display: flex;
        }
    }

    &__item-imgbox{
        text-align: center;

        @media screen and (min-width: 481px) {
            flex: 1;
        }
    }

    &__item:not(:last-child){
        margin-bottom: 37px;
    }

    &__item:last-child {
        margin-bottom: 58px;
    }

    &__item-img{
  
        &--mbweb{
            margin-bottom: 27px;

        @media screen and (min-width: 481px) and (max-width: 992px) {
                margin-bottom: 0;
            }
        }

        &--mbtool{
            margin-bottom: 21px;

        @media screen and (min-width: 481px) and (max-width: 992px) {
                margin-bottom: 0;
            }
        }

        &--mbstuff {
            margin-bottom: 20px;

        @media screen and (min-width: 481px) and (max-width: 992px) {
                margin-bottom: 0;
            }
        }

        &--mbcircle {
            margin-bottom: 23px;

        @media screen and (min-width: 481px) and (max-width: 992px) {
                margin-bottom: 0;
            }
        }
    }

    &__item-description{
        
        @media screen and (min-width: 481px){
            display: flex;
            flex-direction: column;
            align-items: start;
            flex: 2;
        }
    }

    &__item-title{
        color: $colorYouGetItemTitle;
        @include primeryText();
        text-transform: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 14px;
        text-align: center;

        @media screen and (min-width: 481px) and (max-width: 992px) {
            line-height: 1.3;
            margin-bottom: 16px;
        }
    }

    &__item-text{
        color: $colorYouGetItemText;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;

        @media screen and (min-width: 481px) {
            text-align: start;
        }
    }

    &__img{
        display: block;
        margin-left: auto;
        width: 100%;

        @media screen and (min-width: 993px) {
            width: 100%;
            max-height: 100%;
        }
    }
}


/* -------- Section Price --------*/

.price-title {
    color: $colorPrimery;
    text-align: center;
    @include primeryText();
    text-transform: none;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 24px;

    @media screen and (min-width: 481px) and (max-width: 992px) {
        font-size: 42px;
        line-height: 1;
        margin-bottom: 39px;
    }

    @media screen and (min-width: 993px) and (max-width: 1200px) {
        font-size: 48px;
        line-height: 1;
        margin-bottom: 61px;
    }
}

.price{
    padding-top: 2px;
    padding-bottom: 12px;
    background-image: url(../img/pricebg320.jpg);
    background-repeat: no-repeat;
    background-size: cover ;

    @media screen and (min-width: 481px) and (max-width: 992px) {
        padding-top: 79px;
        padding-bottom: 94px;
        background-image: url(../img/pricebg768.jpg);
    }
    
    @media screen and (min-width: 993px){
        padding-top: 83px;
        padding-bottom: 97px;
        background-image: url(../img/pricebg1200.jpg);
    }

    &__list{
        @media screen and (min-width: 481px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center;
            align-items: center;
        }
    }

    &__item{

        @media screen and (min-width: 481px) and (max-width: 992px) {
            flex: 1;
        }

        &:not(:last-child){
            margin-bottom: 18px;

        @media screen and (min-width: 481px){
                margin-bottom: 0;
            }
        }
    }

    &__item-title{
        color: $colorPrimery;
        text-align: center;
        @include primeryText();
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        padding-top: 36px;
        padding-bottom: 36px;
        background-color: rgba(255, 255, 255, 0.06);
        @include center();
        width: 257px;

        &--agency {
            width: 299px;
            background-color: rgba(0, 0, 0, 0.11);
            padding-top: 43px;
            padding-bottom: 43px;
        }

        @media screen and (min-width: 481px) and (max-width: 992px) {
            &--students {
                margin-right: 0;
                margin-left: auto;
            }

            &--professional{
                margin-right: auto;
                margin-left: 0;
            }

            &--agency {
                margin-right: 0;
                margin-left: auto;
            }

            &--enterprise{
                margin-right: auto;
                margin-left: 0;
            }
        }
    }

    &__item-description{
        box-sizing: border-box;
        width: 257px;
        height: 360px;
        background-color: rgba(255,255,255,0.11);
        @include center();
        padding-top: 30px;
        padding-bottom: 36px;

        &--agency {
            padding-top: 14px;
            padding-bottom: 47px;
            width: 299px;
            background-color: rgba(70, 48, 72, 0.84);
            height: 450px;
        }

        @media screen and (min-width: 481px) and (max-width: 992px) {
            &--students{
                margin-right: 0;
                margin-left: auto;
            }

            &--professional {
                margin-right: auto;
                margin-left: 0;
            }

            &--agency {
                margin-right: 0;
                margin-left: auto;
            }

            &--enterprise {
                margin-right: auto;
                margin-left: 0;
            }
        }
    }
    
    &__item-price{
        color: $colorPrimery;
        @include primeryText();
        font-size: 60px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 20px;

        &--agency{
            margin-bottom: 16px;
            font-size: 82px;
        }

        & span{
            font-weight: 400;
        }
    }

    &__item-period{
        color: $colorPrimery;
        text-align: center;
        @include primeryText();
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 38px;

        &--agency {
            margin-bottom: 46px;
        }
    }

    &__item-line{
        background-color: $colorPriceItemLine;
        height: 5px;
        width: 60px;
        @include center();
        margin-bottom: 30px;

        &--agency{
            margin-bottom: 40px;
        }
    }

    &__item-text{
        color: $colorPrimery;
        text-align: center;
        @include primeryText();
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 36px;
        text-transform: none;
        height: 44px;

        @media screen and (min-width: 481px) {
            margin-bottom: 36px;
        }

        &--agency{
            line-height: 1.5;
            margin-bottom: 83px;
            height: 48px;
        }
    }

    &__item-btn{
        padding: 15px 38px 15px 37px;
        border-radius: 40px;
        border: rgba(255, 255, 255, 0.15);
        background-color: rgba(255, 255, 255, 0.15);
        color: $colorPrimery;
        text-align: center;
        @include primeryText();
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
        display: block;
        @include center();

        &--agency{
            font-size: 16px;
            font-weight: 400;
            line-height: 1.1;
            padding: 18px 48px 18px 48px;
        }
}
}



