@import "_fonts";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@100;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "_normalize";
@import "_variables";
@import "_mixin";
@import "_header";
@import "_people";
@import "_main";
@import "_devices";


